name: Deploy MkDocs Material to GitHub Pages

on:
  push:
    branches: [ main ]

concurrency:
  group: pages
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Construir el sitio MkDocs
        run: mkdocs build

      - name: Desplegar en GitHub Pages
        run: mkdocs gh-deploy --force
